body {
  background-color: #F2DC5D;
} 

#image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#img-div {
  heigth: 500px;
  width: 500px;
}
#play-img {
    display: block;
    max-width: 100%;
    max-height: 100;
}
#plays-div {
    height: 400px;
    width: 400px;
}