body {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #191923;
    color: #F0E100;
}

#title {
    
    font-family: "Garamond", Fantasy;
    font-size: 45px;
}

#image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.border {
    border-radius: 20%;
    border-style: groove;
    border-color: #000000;
}

#img-div {
    height: 700px;
    width: 500px;
}

#tribute-info {
    font-family: "Garamond", Fantasy;
    font-size: 18px;
}


#play-img {
    display: block;
    max-width: 100%;
    max-height: 100;
    border-radius: 20%;
    border-radius: 20%;
}

#plays-div {
    
}

#plays-link {
    text-decoration: none;
    color: #F0E100;

}


#tribute-link {
    text-decoration: none;
    color: #F0E100;
}
